@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');
@font-face {
  font-family: 'BMJUA';
  src: url('./font/BMJUA_otf.otf') format('truetype');
}

body {
  font-family: 'BMJUA', 'Nanum Gothic Coding', sans-serif;
  color: #fff;
}

/*--------------------
    Header Section
--------------------*/
.header-main-component {
  background: #292827;
  padding: 4rem;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
}

.header-main-component:after {
  background: url('./img/main_ground.jpg') no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

.header-main-title {
  font-size: 4.5rem;
  margin-top: 30vh;
}

.header-body-text {
  font-family: 'Nanum Gothic Coding';
  margin-top: 1rem;
  font-size: 1.1rem;
}

/*--------------------
    Body Section
--------------------*/
/* Body Title section */
.body-main-component {
  background: #fff;
  padding: 4rem 6rem;
  color: #292827;
}

.body-description {
  padding: 2rem;
  text-align: center;
}

.body-description-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.body-description-detail {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.body-description-detail-inner {
  text-align: center;
}

.body-description-price {
  font-size: 2rem;
  margin: 1rem auto;
}

.amount {
  display: inline;
  color: #0077FF;
}

.body-description-caution {
  font-size: 1rem;
  margin: 1rem auto;
}

.open-modal.order-button-div {
  margin-top: 2rem;
}

.open-modal.order-button-div .order-button {
  width: 15rem;
  padding: 0.6rem;
}


/* Image section */
.body-image {
  padding: 2rem;
}

.flower-image-container {
  opacity: 0.9;
  width: 400px;
  height: 350px;
  margin: 1rem auto auto 1rem;
  box-shadow: 2px 2px 0px 2px rgba(217, 217, 217, .8);
  border-radius: 5px;
}

.flower-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/*--------------------
    Footer Section
--------------------*/
/* Footer Text section */
.footer-main-component {
  background: #292827;
  padding: 1rem 2rem;
}

/* Form section */
.contact-info {
  margin: 1rem auto;
  text-align: center;
}

.contact-info .info-item {
  margin-right: 1em;
}

.contact-info .contact-us-button {
  cursor: pointer;
  text-decoration: underline;
}

.contact-info .contact-us-button:hover {
  font-size: 1.1rem;
}

/*--------------------
    Modal Section
--------------------*/
.ReactModal__Body--open {
  overflow: hidden;
  margin-right: 15px;
}

#react-modal-window-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#react-modal-window-center-container {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 580px;
  min-width: 320px;
}

/*--------------------
    Order Section
--------------------*/
.order-main-component {
  background: #292827;
  padding: 2rem;
  border-radius: 5px;
}

.order-main-component .contact-request-form-ttile {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 1em;
}

.order-label {
  display: block;
}

.order-field-form {
  width: 100%;
  border-radius: 5px;
}

.order-request-form .order-request-form-title {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 1em;
}

.order-request-form .order-form {
  margin-bottom: 1rem;
}

.order-component.submit-button {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
}

.order-request-form .ui.divider {
  border: 1px inset grey;
  margin: 1rem auto 2rem !important;
}

/*--------------------
    Order Info Section
--------------------*/
.order-info-main-component {
  background: #292827;
  padding: 2rem;
  border-radius: 5px;
}

.order-info-main-component .order-info-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.order-info-main-component .order-info-body .body-text {
  margin-bottom: 1em;
}

.order-info-main-component .order-info-body .body-list {
  margin-bottom: 2em;
}

.order-info-main-component .order-info-body .body-confirm-button {
  widows: 100%;
}

.order-info-main-component .order-info.confirm-button {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 0.5em;
}

/*--------------------
  Contact-us Section
--------------------*/
.contact-request-form .message-form {
  margin-top: 1rem;
}

.contact-us-label {
  display: block;
}

.contact-us-field-form {
  width: 100%;
  border-radius: 5px;
}

.contact-us.submit-button {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 1rem;
}
