@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');
@font-face {
  font-family: 'BMJUA';
  src: url('./font/BMJUA_otf.otf') format('truetype');
}
@font-face {
  font-family: 'AppleGothic';
  src: local("Apple SD Gothic Neo");
}

body {
  font-family: 'AppleGothic', 'BMJUA', sans-serif;
  color: #fff;
  min-width: 320px;
}

/*--------------------
    Header Section
--------------------*/
.header-main-component {
  background: #292827;
  padding: 4rem;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
}

.header-main-component:after {
  background: url('./img/main_ground.jpg') no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

.header-main-title {
  font-family: 'BMJUA';
  font-size: 5em;
  padding-top: 25vh;
}

.header-body-text {
  margin-top: 1rem;
  font-size: 1.5em;
}

/*--------------------
    Body Section
--------------------*/
/* Body Title section */
.body-main-component {
  background: #fff;
  padding: 3rem;
  color: #292827;
}

.body-description {
  padding: 1rem;
  text-align: center;
}

.body-description-title {
  font-family: 'BMJUA';
  font-size: 3.5rem;
  margin-bottom: 0.3rem;
  text-align: center;
}

.body-description-detail {
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 1rem;
}

.body-description-price {
  font-weight: 500;
  font-size: 1.3em;
  margin: 1rem auto;
}

.body-description-price .price-text {
  font-family: 'BMJUA';
  font-weight: 900;
  font-size: 1.8em;
  margin-bottom: 1.5rem;
}

.amount {
  display: inline;
  color: #0077FF;
}

.body-description-caution {
  font-size: 1rem;
  margin: 1rem auto;
  text-align: left;
}

.open-modal.order-button-div {
  margin-top: 2rem;
}

.open-modal.order-button-div .order-button {
  font-family: 'BMJUA';
  border: none;
  font-size: 2em;
  width: 10em;
  background-color: rgba(0, 119, 255, 0.7);
}


/* Image section */
.body-image {
  display: flex;
  text-align: center;
}

.flower-image-container {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  padding: 2em;
  border-radius: 5px;
}

.flower-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/*--------------------
    Footer Section
--------------------*/
/* Footer Text section */
.footer-main-component {
  background: #292827;
  padding: 1rem 2rem;
}

/* Form section */
.contact-info {
  margin: 1rem auto;
  text-align: center;
}

.contact-info .item {
  margin-right: 1em;
}

.contact-info .contact-us-button {
  cursor: pointer;
  text-decoration: underline;
  margin-left: 1em;
}

.contact-info .contact-us-button:hover {
  font-size: 1.1rem;
}

/*--------------------
    Modal Section
--------------------*/
.ReactModal__Body--open {
  overflow: hidden;
  /* margin-right: 15px; */
}

#react-modal-window-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#react-modal-window-center-container {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 580px;
  min-width: 320px;
}

/*--------------------
    Order Section
--------------------*/
.order-main-component {
  background: #292827;
  padding: 2rem;
  border-radius: 5px;
}

.order-main-component .contact-request-form-ttile {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 1em;
}

.order-label {
  display: block;
}

.order-field-form {
  width: 100%;
  border-radius: 5px;
}

.order-request-form .order-request-form-title {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 1em;
}

.order-request-form .order-form {
  margin-bottom: 1rem;
}

.order-component.submit-button {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
}

.order-request-form .ui.divider {
  border: 1px inset grey;
  margin: 1rem auto 2rem !important;
}

/*--------------------
    Order Info Section
--------------------*/
.order-info-main-component {
  background: #292827;
  padding: 2rem;
  border-radius: 5px;
}

.order-info-main-component .order-info-title {
  font-family: 'BMJUA';
  font-size: 3em;
  text-align: center;
  margin-bottom: 1rem;
}

.order-info-main-component .order-info-body .body-text {
  margin-bottom: 1em;
}

.order-info-main-component .order-info-body .body-list {
  margin-bottom: 2em;
}

.order-info-main-component .order-info-body .body-confirm-button {
  widows: 100%;
}

.order-info-main-component .order-info.confirm-button {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 0.5em;
}

/*--------------------
  Contact-us Section
--------------------*/
.contact-request-form .message-form {
  margin-top: 1rem;
}

.contact-us-label {
  display: block;
}

.contact-us-field-form {
  width: 100%;
  border-radius: 5px;
}

.contact-us.submit-button {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 1rem;
}


/* Media Query Section */
@media only screen and (max-width: 991px) {
  .flower-image-container {
    padding: 2em 7em;
  }
}

@media only screen and (max-width: 730px) {
  .header-main-title {
    font-size: 4em;
  }

  .header-body-text {
    font-size: 1.3em;
  }

  .body-main-component {
    padding: 2rem;
  }

  .body-description-title {
    font-size: 3em;
  }

  .body-description-detail {
    font-size: 1.2em;
  }

  .flower-image-container {
    padding: 2em 5em;
  }

  .company-info .info-item {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .flower-image-container {
    padding: 2em;
  }
}

@media only screen and (max-width: 575px) {
  .order-request-form .order-request-form-title,
  .order-main-component .contact-request-form-ttile {
    font-size: 1.6em;
  }

  .order-sub-main-container,
  .order-info-main-component {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .contact-request-form .email-form {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  #react-modal-window-center-container {
    min-height: 90vh;
  }

  .header-main-title {
    font-size: 3em;
    /* padding-top: 20vh; */
  }

  .header-body-text {
    font-size: 1.1em;
  }

  .body-main-component {
    padding: 1rem;
  }

  .body-description-title {
    font-size: 2em;
  }

  .body-description-detail {
    font-size: 1em;
  }

  .body-description-price {
    font-size: 1.2em;
  }

  .body-description-caution {
    font-size: 0.9em;
  }

  .open-modal.order-button-div .order-button {
    font-size: 1.5em;
    width: 7em;
  }

  .flower-image-container {
    padding: 1em;
  }

  .order-main-component {
    padding: 1em;
  }

  .order-request-form .order-request-form-title,
  .order-main-component .contact-request-form-ttile {
    font-size: 1.3em;
  }

  .order-label,
  .contact-us-label {
    font-size: 0.9em;
  }

  .order-info-main-component {
    padding: 1rem 2rem;
  }

  .order-info-main-component .order-info-title {
    font-size: 2em;
  }

  .order-info-body {
    font-size: 0.9em;
  }

  .footer-main-component {
    padding: 1rem;
    font-size: 0.9em;
  }

  .header-main-title .first-title,
  .header-main-title .second-title {
    display: block;
  }
}

@media only screen and (max-width: 360px) {
  .order-main-component,
  .order-info-main-component {
    margin: 1em;
  }

  .header-main-title {
    font-size: 2.5em;
    padding-top: 20vh;
  }

  .header-body-text {
    font-size: 1em;
  }

  .header-body-text .last-body-text {
    display: block;
  }
}
